$root-element: ".page-DogsCreate";
#{$root-element}{

/* ---------------------------------------------------------------------------------------------- */
/*  */
/* ---------------------------------------------------------------------------------------------- */
main{
  display: flex;
  place-items: center;
  flex-direction: column;

  @media only screen and (min-width: 768px) {/* desktop */
    width: calc(100% - 15rem);
    margin-left: 15rem;
    margin-top: 6.25rem;
    margin-bottom: 3rem;
  }
  @media only screen and (max-width: 767px) {/* mobile */
    margin-top: 6rem;
    margin-bottom: 3rem;
  }
}

/* ---------------------------------------------------------------------------------------------- */
/*  */
/* ---------------------------------------------------------------------------------------------- */
main > form{
  /*
  * -- Box model and Layout definitions ---------------------------------------------
  */
  display: flex;
  width: min(30rem, 95vw);
  padding: 2rem 1.5rem;
  flex-direction: column;
  align-items: center;
  gap: 1.7rem;

  /*
  * -- Box and text styles definitions ----------------------------------------------
  */
  border-radius: 0.625rem;
  background: #FFF;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.10);
}

main > form > header{
  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  > h1{
    font-size: 1.25rem;
    font-weight: 600;

    > mark{
      color: #42A7C3;
      background: none;
    }
  }

  > p{
    max-width: 95%;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 113.9%; /* 0.99663rem */
  }
}

main > form > fieldset{
  /*
  * -- Box model and Layout definitions ---------------------------------------------
  */
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  gap: 1.5rem;
  border: none;

  /*
  * -- Subcomponents and behaviours definitions -------------------------------------
  */
  > .field{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 0.525rem;

    /* text styles */
    > .error{
      color: #BB0606;
      font-size: 0.84rem;
      line-height: 113.9%; /* 0.99663rem */
    }

    > input{
      display: flex;
      padding: 0.625rem 1rem;
      border-radius: 0.4rem;
      border: 1px solid #E0E0E0;
      background: #FAFAFA;

      &::placeholder{
        color: #B3B3B3;
      }
    }

    > label{
      font-size: 0.875rem;
      line-height: 113.9%; /* 0.99663rem */
    }
  }
}

main > form > footer{
  > .send{
    display: flex;
    width: 10rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-weight: 600;
    border-radius: 0.625rem;
    background: #42A7C3;
    transition: transform 0.3s;

    &:hover:not(:active){
      cursor: pointer;
      transform: scale(1.03);
    }

    &[disabled]{
      background: #FFF;
      color: #B3B3B3;
      border: 1px #B3B3B3 solid;
    }
  }
}

/* ---------------------------------------------------------------------------------------------- */
/*  */
/* ---------------------------------------------------------------------------------------------- */

}