$root-element: ".page-DogsSearch";
#{$root-element}{
/* ---------------------------------------------------------------------------------------------- */
/*  */
/* ---------------------------------------------------------------------------------------------- */
main{
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 768px) {/* desktop */
    width: calc(100% - 15rem); // remaining space
    margin-left: 15rem; // sidebar width
    margin-top: 4.25rem; // sidebar width
  }
  @media only screen and (max-width: 767px) {/* mobile */
    margin-top: 4rem; // sidebar width
  }
}

}